
@{ 
    Layout = null;
}

<div class="alert alert-gray">
    <ul>
        <li>تکمیل تمامی فیلدهای تک ستاره (<span class="red-color">*</span>) الزامی میباشد</li>
        <li>تکمیل یکی از دو فیلد دارای دوستاره (<span class="gold-color">**</span>) همرنگ الزامی میباشد</li>
    </ul>
</div>