@{ 
    Layout = null;
}

<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>با دیباوین در تماس باشید</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-9 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3">درباره دیباوین</h5>
                <p class="mt-2 mb-2">
                    گروه فنی مهندسی دیباوین، در حوزه طراحی، ساخت و توسعه نرم افزار های تحت سیستم عامل و تحت وب کار خود را در سال 1396 با محوریت توانبخشی و کمک به کسب و کارهای نوپا آغاز نمود و در حوزه طراحی وبسایت بصورت تخصصی فعالیت داشته که تا بحال مسئولیت طراحی و توسعه وبسایت هایی همچون...
                </p>
                <p><a href="#" class="btn-flat btn-xs text-color-light"><strong class="text-2">مطالعه ادامه مطلب</strong><i class="fas fa-angle-left p-relative top-1 pl-2"></i></a></p>
                <div class="row pt-3">
                    <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3">ویلاگ</h5>
                        <ul class="list list-icons list-icons-sm mb-0">
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="blog-full-width.html">مقاله یک</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="blog-large-image.html">مقاله دو</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="blog-medium-image.html">مقاله سه</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="blog-post.html">مقاله چهار</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3">صفحات</h5>
                        <ul class="list list-icons list-icons-sm mb-0">
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-full-width.html">تمام صفحه</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-left-sidebar.html">نوار سمت چپ</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-right-sidebar.html">نوار سمت راست</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-custom-header.html">هدر سفارشی</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3">رزومه</h5>
                        <ul class="list list-icons list-icons-sm mb-0">
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="portfolio-2-columns.html">دو ستونه</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="portfolio-3-columns.html">سه ستونه</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="portfolio-4-columns.html">چهار ستونه</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="portfolio-single-wide-slider.html">تک صفحه ای</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-3 mb-4 mb-lg-0">
                        <h5 class="text-3 mb-3">اضافات</h5>
                        <ul class="list list-icons list-icons-sm mb-0">
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-team.html">تیم دیباوین</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-services.html">خدمات</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-careers.html">مشاغل</a></li>
                            <li><i class="fas fa-angle-left top-8"></i> <a class="link-hover-style-1" href="page-faq.html">سوالات متداول</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4 mb-lg-0">
                <h5 class="text-3 mb-3 pb-1">تماس با ما</h5>
                <p class="text-8 text-color-light font-weight-bold farsi-num">09357882695</p>
                <p class="mb-2 farsi-num">بین الملل: (333) 456-6670</p>
                <p class="mb-2 farsi-num">فکس: 33324232</p>
                <ul class="list list-icons list-icons-lg">
                    <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i><p class="m-0">شیراز - کوچه شهید شش متری - پلاک نه هزار</p></li>
                    <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0"><a href="mailto:info@dibawin.com">info@dibawin.com</a></p></li>
                </ul>
                <ul class="footer-social-icons social-icons mt-4">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="فیسبوک"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="توییتر"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="لینکدین"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col-lg-2 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
                    <a href="index.html" class="logo pr-0 pr-lg-3">
                        <img alt="Porto Website Template" src="~/shared/site/assets/img/logo-footer.png" class="opacity-5" height="33">
                    </a>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p class="farsi-num">تمامی حقوق مادی و معنوی این وبسایت متعلق است به شرکت دیباوین ©، توسعه سال 1398</p>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
                    <nav id="sub-menu">
                        <ul>
                            <li><i class="fas fa-angle-left"></i><a href="page-faq.html" class="ml-1 text-decoration-none"> سوالات متداول</a></li>
                            <li><i class="fas fa-angle-left"></i><a href="sitemap.html" class="ml-1 text-decoration-none"> نقشه سایت</a></li>
                            <li><i class="fas fa-angle-left"></i><a href="contact-us.html" class="ml-1 text-decoration-none"> تماس با ما</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>