
@{
    ViewData["Title"] = "SignIn";
    Layout = null;
    var nvm = ViewData["nvm"] as NotificationViewModel;
}
@model LoginViewModel
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/shared/admin/assets/vendor_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/shared/admin/assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico">
    <link href="~/shared/admin/ariesadmin/css/master_style.css" rel="stylesheet" />
    <link href="~/shared/admin/ariesadmin/css/skins/_all-skins.css" rel="stylesheet" />

    <!-- toast CSS -->
    <link href="~/shared/admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.css" rel="stylesheet">
    <!-- custom CSS -->
    <link href="~/shared/admin_tools/custom/custom.css" rel="stylesheet" />
    <title>دیباوین | ورود به مدیریت </title>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/admin/home/index">
                <img width="223" height="34" src="~/shared/admin/images/Dibawin_darkblue_yellow_149x23.png" />
            </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">اطلاعات ورود به پنل مدیریت را وارد کنید</p>

            <form asp-area="Admin" asp-controller="Account" asp-action="SignInConfirm"
                  method="post" class="form-element">
                <div class="form-group has-feedback">
                    <input asp-for="UserName" type="text" class="form-control" placeholder="ایمیل">
                    <span class="ion ion-email form-control-feedback"></span>
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" type="password" class="form-control" placeholder="پسورد">
                    <span class="ion ion-locked form-control-feedback"></span>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="checkbox">
                            <input asp-for="RememberMe" type="checkbox" class="custom-control-input" id="rememberme">
                            <label class="custom-control-label text-2" for="rememberme">مرا به خاطر بسپار</label>

                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="fog-pwd">
                            <a href="#" id="btn_recover_pass"><i class="ion ion-locked"></i> بازیابی پسورد</a><br>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-12 text-center  mt-15  mb-15">
                        <button type="submit" class="btn btn-info btn-block margin-top-10">ورود</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>


        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/shared/admin/assets/vendor_components/jquery/dist/jquery.min.js"></script>

    <!-- popper -->
    <script src="~/shared/admin/assets/vendor_components/popper/dist/popper.min.js"></script>

    <!-- Bootstrap 4.0-->
    <script src="~/shared/admin/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- toast -->
    <script src="~/shared/admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
    <script src="~/shared/admin/ariesadmin/js/pages/toastr.js"></script>

    <!-- validation -->

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    @if (nvm != null)
    {
        <script>
            $.toast({
                heading: '@nvm.Heading',
                text: '@nvm.Text',
                position: 'top-left',
                loaderBg: '#ff6849',
                icon: 'success',
                hideAfter: 3000,
                stack: 6
            });
            
          
        </script>
    }
    <script>
        $(btn_recover_pass).click(function () {
            $.toast({
                heading: 'بازیابی پسورد',
                text: 'با پشتیبانی تماس بگیرید',
                position: 'top-left',
                loaderBg: '#ff6849',
                icon: 'info',
                hideAfter: 5000,
                stack: 6
            });
        })
    </script>
</body>

</html>


