
@{
    ViewData["Title"] = "ویرایش پسورد کاربر";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var EditUser = ViewData["EditUser"] as ApplicationUser;
}
<link href="~/shared/admin_tools/custom/custom.css" rel="stylesheet" />
<section class="content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 mx-auto">
            <div class="box box-bordered">
                <div class="box-header with-border">
                    <h3 class="box-title">مشخصات کاربر</h3>
                </div>
                <form asp-area="Admin" asp-controller="Account" asp-action="UserPasswordChangeConfirm" method="post">
                    <div class="box-body">
                        <div class="form-group row">
                            <label for="txt3" class="col-sm-2 col-form-label">ایمیل  </label>
                            <div class="col-sm-4">
                                <input readonly="readonly" name="UserName" class="form-control" type="text" value="@EditUser.UserName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt3" class="col-sm-2 col-form-label">نام  </label>
                            <div class="col-sm-4">
                                <input readonly="readonly" class="form-control" type="text" value="@EditUser.FirstName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txt3" class="col-sm-2 col-form-label">نام خانوادگی </label>
                            <div class="col-sm-4">
                                <input readonly="readonly" class="form-control" type="text" value="@EditUser.LastName">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="txt3" class="col-sm-2 col-form-label">پسورد جدید  <span class="red-color">*</span></label>
                            <div class="col-sm-4">
                                <input name="Password" required class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-left">ثبت اطلاعات</button>
                        <button type="reset" class="btn btn-low-priotity pull-left margin-l-10">تازه سازی فرم</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<script src="~/shared/shared_contents/persian_datepicker/js/persianDatepicker.min.js"></script>

<script>
    $("#pdpBig1, #pdpBig2").persianDatepicker({
        cellWidth: 38,
        cellHeight: 20,
        fontSize: 13
    });
</script>

