
@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div role="main" class="main">
    <div class="container pb-1">

        <div class="row pt-4">
            <div class="col">
                <div class="overflow-hidden mb-3">
                    <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp">
                        <span>راهی جدید برای طراحی </span>
                        <span class="word-rotator-words bg-primary" style="width: 144.844px;">
                            <b class="is-hidden">وب سایت</b>
                            <b class="is-hidden">اپلیکیشن موبایل</b>
                            <b class="is-visible">برنامه های ویندوز</b>
                        </span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-lg-10">
                <div class="overflow-hidden">
                    <p class="lead mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="250">
                        گروه طراحی دیباوین از سال 1397 با هدف طراحی انواع اپلیکیشن های موبایل، ویندوز و طراحی وب سایت راه اندازی شد.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-default border-0 my-5 appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="750">
        <div class="container py-4">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="1200">
                            درباره دیباوین
                        </h2>
                    </div>
                    <p class="appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                        گروه طراحی دیباوین با هدف
                    </p>
                </div>
                <div class="col-md-6 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
                        <div class="owl-stage-outer">
                               <div class="owl-item" style="width: 450px; margin-right: 10px;">
                                    <div>
                                        <img alt="" class="img-fluid" src="~/shared/site/assets/img/generic/generic-before-after-1-1.jpg">
                                    </div>
                                </div>
                        </div>
                </div>
            </div>

        </div>
    </section>

    <div class="container">
               
        <div class="row">
            <div class="col py-4">
                <hr class="solid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-md-auto text-center">

                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">
                    تاریخچه کاری
                </h2>
                <p>
                    گروه طراحی دیباوین گروه طراحی دیباوین گروه طراحی دیباوین
                </p>

                <section class="timeline" id="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2018</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/shared/site/assets/img/history/history-3.jpg">
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Office</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2012</h3>
                        </div>

                        <article class="timeline-box right text-left appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/shared/site/assets/img/history/history-2.jpg">
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">New Partners</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2006</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="~/shared/site/assets/img/history/history-1.jpg">
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Foundation</h3>
                                <p class="mb-0 text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel consequat, ante.</p>
                            </div>
                        </article>
                    </div>
                </section>

            </div>
        </div>

    </div>

    <section class="section section-default border-0 my-5">
        <div class="container py-4">

            <div class="row">
                <div class="col pb-4 text-center">
                    <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Meet <strong class="font-weight-extra-bold">Our Team</strong></h2>
                    <p>Rockstars lorem ipsum dolor sit amet, consectetur adipiscing elit ac laoreet libero.</p>
                </div>
            </div>
            <div class="row pb-4 mb-2">
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms;">
                    <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <a href="about-me.html">
                                <img src="~/shared/site/assets/img/team/team-1.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">John Doe</span>
                                    <span class="thumb-info-type">CEO</span>
                                </span>
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="http://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                <a href="http://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                    <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <a href="about-me.html">
                                <img src="~/shared/site/assets/img/team/team-2.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Jessica Doe</span>
                                    <span class="thumb-info-type">Marketing</span>
                                </span>
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="http://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                <a href="http://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                    <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <a href="about-me.html">
                                <img src="~/shared/site/assets/img/team/team-3.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Rick Edward Doe</span>
                                    <span class="thumb-info-type">Developer</span>
                                </span>
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="http://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                <a href="http://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="col-sm-6 col-lg-3 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                    <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                        <span class="thumb-info-wrapper border-radius-0">
                            <a href="about-me.html">
                                <img src="~/shared/site/assets/img/team/team-4.jpg" class="img-fluid border-radius-0" alt="">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Melinda Wolosky</span>
                                    <span class="thumb-info-type">Design</span>
                                </span>
                            </a>
                        </span>
                        <span class="thumb-info-caption">
                            <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                            <span class="thumb-info-social-icons">
                                <a target="_blank" href="http://www.facebook.com/"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                                <a href="http://www.twitter.com/"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="http://www.linkedin.com/"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                            </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </section>

</div>

