
.farsi-num {
    font-family: 'NumIRANSans', Tahoma;
}
.logo-mini{
    height:0;
    opacity:0;
    transition:0.3s;
}
.logo-mini-show{
    height:auto;
    opacity:1;
}
.breadcrumb-item {
    float: right !important;
}

.wrapper,
.box-header,
.box-body {
    direction: rtl !important;
    text-align: right !important;
}
.rtl-class-center,
.rtl-class-left,
.rtl-class-right {
    direction: rtl !important;
}

.rtl-class-right {
    text-align: right !important;
}
.rtl-class-left {
    text-align: right !important;
}
.rtl-class-center {
    text-align: center !important;
}
#example1 tr th,
#example1 tr td {
    border: 1px solid #9d9d9d !important;
}
#example1 tbody tr td {
    padding: 5px !important;
}
.red-color{
    color:#e92e2e !important;
    font-size:1.2em;
}
.field-validation-error {
    color: #e92e2e !important;
    font-size:13px;
}
.input-validation-error{
    background-color:#fffec0 !important;
}
.btn-low-priotity {
    background: rgba(255,255,255,0) !important;
    color: #48b0f7;
    
}
    .btn-low-priotity:focus,
    .btn-low-priotity:hover {
        color: #2c94db !important;
        border-bottom-color:#20afe5 !important;
    }
.margin-l-10{
    margin-left:10px !important;
}
.box-footer:after{
    content:'';
    clear:both;
    display:block;
}

#files {
    overflow-y: scroll !important;
    min-height: 320px;
}

.media .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    overflow:hidden !important;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.dropzone {
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
    min-height: 150px;
    background: white;
    padding: 34px 34px;
}
    .dropzone, .dropzone * {
        box-sizing: border-box;
    }
        .dropzone .dz-preview {
            margin:8px !important;
        }
.select2-results__options,
.select2-results,
.select2-search__field {
    text-align: right !important;
}
.btn-group .btn{
    padding:3px 7px !important;
}
.small-text-table *{
    font-size:13px !important;
}
.strong-text{
    font-weight:900 !important;
    color:#000;
}
.dashed-underline{
    border-bottom:1px dashed;
}
.small-text{
    font-size:12px !important;
}
.gold-color {
    color: #e29800;
    font-size: 1.2em;
}
.alert-gray{
    background:#f3f3f3 !important;
    font-size:10px !important;
    color:#757575 !important;
}
.filter-area{
    padding:10px 0;
    border-bottom:1px dashed #f6dbdb;
}
.cursor-pointer{
    cursor: pointer !important;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    padding: 0.5rem !important;
}
.dataTables_length,
.dataTables_info,
.dataTables_paginate {
    display: none !important;
}