
@{
    ViewData["Title"] = "ورود";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@model SigninViewModel

@await Html.PartialAsync("~/Views/shared/header/_breadcrums.cshtml")
<div class="container">
    <div class="row">
        <div class="col">
            <div class="featured-boxes">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <div class="featured-box featured-box-primary text-left mt-5">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">ورود به دیباوین</h4>
                                <hr />
                                <form asp-action="LoginConfirm" asp-controller="Account"
                                      id="frmSignIn" method="post" class="needs-validation">
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label class="font-weight-bold text-dark text-2">ایمیل</label>
                                            <input dir="ltr" type="text" class="form-control form-control-lg" asp-for="Username">
                                            <span asp-validation-for="Username"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <a class="float-right" href="#">بازیابی رمز عبور</a>
                                            <label class="font-weight-bold text-dark text-2">رمز عبور</label>
                                            <input dir="ltr" type="password" value="" class="form-control form-control-lg" asp-for="Password">
                                            <span asp-validation-for="Username"></span>

                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <div class="custom-control custom-checkbox">
                                                <input asp-for="IsRemember" type="checkbox" class="custom-control-input" id="rememberme">
                                                <label class="custom-control-label text-2 " for="rememberme">مرا به خاطر بسپار</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <input type="submit" value="ورود" class="btn btn-primary btn-block"
                                                   data-loading-text="بارگذاری...">
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-row">
                                        <div class="form-group col text-center">
                                            <label>کاربر جدید هستید؟</label>
                                            <a class="" asp-controller="Account" asp-action="Register">ثبت نام در دیباوین</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
