
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
@if (TempData["RecoverPasswordSend"] == null)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="featured-boxes">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <div class="featured-box featured-box-primary text-left mt-5">
                                <div class="box-content">
                                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">بازیابی کلمه عبور</h4>
                                    <hr />
                                    <div id="divAlert"></div>
                                    <form asp-action="RecoverPasswordByMail" asp-controller="Account"
                                          id="frmSignIn" method="post" class="needs-validation">
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <label class="font-weight-bold text-dark text-2">پست الکترونیک</label>
                                                <input dir="ltr" type="email" class="form-control form-control-lg" name="Username" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <input type="submit" value="بازیابی کلمه عبور" class="btn btn-primary btn-block"
                                                       data-loading-text="بارگذاری...">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (TempData["RecoverPasswordSend"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="featured-boxes">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <div class="featured-box featured-box-primary text-left mt-5">
                                <div class="box-content">
                                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 text-center">ارسال ایمیل بازیابی</h4>
                                    <hr />
                                    <div id="divAlert"></div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <h4 class="">
                                                ایمیل بازیابی ارسال گردید
                                            </h4>
                                            یک لینک برای بازیابی رمز عبور به ایمیل شما ارسال گردید. لطفاً به ایمیل خود مراجعه کرده و بر روی لینک ارسال شده کلیک نمایید.
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/shared/site/assets/vendor/jquery/jquery.min.js"></script>
@if (TempData["UserMessage"] != null)
{
    <script>
        $(divAlert).html(`
<div class="mx-auto">
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
@TempData["UserMessage"]
</div>
</div>
`);
        setTimeout(() => { $(divAlert).fadeOut('slow') }, 6000);
    </script>

}
