
@{
    ViewData["Title"] = "صفحه نخست";
    Layout = "~/Views/shared/_SiteLayout.cshtml";
}

@await Html.PartialAsync("~/Views/shared/header/_slider.cshtml")

<section class="section section-no-border pb-0 m-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-4 col-lg-auto icon-box text-center mb-4">
                <i class="icon-bg icon-2"></i>
                <h4 class="font-weight-bold custom-font-size-2 line-height-3 mb-0">
                    طراحی سایت
                </h4>
            </div>
            <div class="col-sm-4 col-lg-auto icon-box text-center mb-4">
                <i class="icon-bg icon-1"></i>
                <h4 class="font-weight-bold custom-font-size-2 line-height-3 mb-0">
                    طراحی اپلیکیشن موبایل
                </h4>
            </div>
            <div class="col-sm-4 col-lg-auto icon-box text-center mb-4">
                <i class="icon-bg icon-2"></i>
                <h4 class="font-weight-bold custom-font-size-2 line-height-3 mb-0">
                    ثبت نام دامنه و هاست
                </h4>
            </div>
            <div class="col-sm-4 col-lg-auto icon-box text-center mb-4">
                <i class="icon-bg icon-3"></i>
                <h4 class="font-weight-bold custom-font-size-2 line-height-3 mb-0">
                    سئو سایت
                </h4>
            </div>
            <div class="col-sm-12">
                <hr class="my-5">
                <h2 class="font-weight-bold text-center text-10 pt-3 mb-4">
                    طراحی سایت تخصص ماست ...
                </h2>
            </div>
            <div class="col-sm-12 text-center">
                <p class="text-4">
                    سایت شما نیاز به بیننده دارد . بازدید کنندگان سایت شما باید با طراحی سایت شما ارتباط برقرار کنند
                </p>
            </div>
        </div>

    </div>
</section>




<section class="section bg-dark section-dark border-0 m-0">
    <div class="container">
        <div class="text-center mb-5">
            <h5 class="font-weight-semibold positive-ls-2 text-4 text-primary mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250" data-appear-animation-duration="750">
                پنل های طراحی وب سایت
            </h5>

            @*<p class="custom-text-color-1 color-inherit appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="850" data-appear-animation-duration="750">
                    پنل های مختلف طراحی سایت را ملاحظه فرمایید
                </p>*@
        </div>
        <div class="row pb-5">
            <div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" data-appear-animation-duration="750">
                <div class="bg-color-dark-scale-2 rounded p-5 text-center">
                    <i class="icon-bg icon-feature-1 mt-4"></i>
                    <h4 class="text-4 mb-2">
                        پنل شرکتی
                    </h4>
                    <p class="custom-text-color-1 text-3 color-inherit mb-0">
                        مناسب برای معرفی کسب و کار و خدمات شما
                    </p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" data-appear-animation-duration="750">
                <div class="bg-color-dark-scale-2 rounded p-5 text-center">
                    <i class="icon-bg icon-feature-2 mt-4"></i>
                    <h4 class="text-4 mb-2">
                        پنل فروشگاهی
                    </h4>
                    <p class="custom-text-color-1 text-3 color-inherit mb-0">
                        یک فروشگاه اینترنتی برای فروش محصولات خود به صورت آنلاین بسازید
                    </p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750">
                <div class="bg-color-dark-scale-2 rounded p-5 text-center">
                    <i class="icon-bg icon-feature-3 mt-4"></i>
                    <h4 class="text-4 mb-2">
                        پنل فروشگاهی
                    </h4>
                    <p class="custom-text-color-1 text-3 color-inherit mb-0">
                        یک فروشگاه اینترنتی آنلاین بسازید
                        پنل فروشگاهی
                    </p>
                </div>
            </div>
            <div class="d-flex col-sm-6 col-lg-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" data-appear-animation-duration="750">
                <div class="bg-color-dark-scale-2 rounded p-5 text-center">
                    <i class="icon-bg icon-feature-17 mt-4"></i>
                    <h4 class="text-4 mb-2">
                        پنل فروشگاهی
                    </h4>
                    <p class="custom-text-color-1 text-3 color-inherit mb-0">
                        پنل فر   یک فروشگاه اینترنتی آنلاین بسازید
                        وشگاهی
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="section section-no-border pb-0 m-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-sm-12">
                <hr class="my-5">
                <h2 class="font-weight-bold text-center text-10 pt-3 mb-4">
                    یک فروشگاه اینترنتی آنلاین بسازید
                </h2>
            </div>
            <div class="col-lg-12 offset-lg-2 px-lg-0 text-center">
                <p class="text-4">
                    طراحی سایت، که به آن وب دیزاین هم گفته می شود
                    دقیقا به معنای تلاش برای ایجاد یک پایگاه اینترنتی است که شما بتوانید از آن برای ارائه خدمات و همچنین فروش محصول یا اطلاع رسانی هم استفاده کنید.
                    به طور کل اینطور گفته می شود که طراحی وب در واقع از یک پروسه لایه ای تشکیل شده است 
                    که از تولید صفحات وب شروع می شود و به تولید محتوا، طراحی گرافیکی و همچنین رعایت اصول سئو ختم خواهد شد. 
                    دقت داشته باشید که از شما میخواهید یک وبسایت قدرتمند را در گوگل ایجاد کنید که بتوانید با استفاده از آن، محصولات و یا خدمات خود را به افراد مختلف ارائه کنید 
                    باید تمام اصولی که در ساخت وبسایت مورد نیاز است را رعایت کنید. پس طراحی وب عملا کار راحتی نخواهد بود.
                </p>
            </div>
        </div>

    </div>
</section>
